<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxRequestLength="2097151" executionTimeout="1200" />
  </system.web>

  <connectionStrings>
    <clear />
    
    <!--<add name="csRanchGames" connectionString="Data Source=mssql5.unoeuro.com;Initial Catalog=theranchgames_com_db;Persist Security Info=True;User ID=theranchga_com;Password=nkzbcern1" />-->
    <add name="csRanchGames" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\dbRanchGames.mdf;Integrated Security=True" />
  </connectionStrings>

</configuration>
